[submodule "topconf2017/revealjs"]
	path = topconf2017/revealjs
	url = https://github.com/hakimel/reveal.js.git
[submodule "meetingcpp2017/revealjs"]
	path = meetingcpp2017/revealjs
	url = https://github.com/hakimel/reveal.js.git
